@if (isLoading) {
  <div class="d-flex justify-content-center align-items-center" style="height: 74vh;">
    <div class="loader"></div>
</div>
}@else {
  <!-- page-not-found.component.html -->
<div class="container text-center mt-5">
  <h1 class="display-1 text-danger">404</h1>
  <p class="lead">Oops! The page you are looking for was not found.</p>

  <div class="mt-4">
    <p>Sorry for the inconvenience. The requested URL is either incorrect or no longer exists.</p>
  </div>

  <div class="mt-5">
    <p class="text-muted">Please check the URL or try navigating from the homepage.</p>
    <div class="container">
      <p>Developed by : Er. Tauseef Khan (Backend Developer)</p>
    </div>
  </div>
</div>

}