@if (isLoading) {
<div class="d-flex justify-content-center align-items-center" style="height: 74vh;">
    <div class="loader"></div>
</div>
}@else {
<div class="container1">
    <div style="width: 20%;">
        <div class="collegeName">
            <p><span class="span1">Chaudhary Charan Singh Kanya Inter College</span><br> Baytal Quadirabad, Siddharth
                Nagar<br> Uttar Pradesh 272195</p>
        </div>
        <div class="imageYearIdentity">
            <div class="identity">IDENTITY <br> CARD</div>
            <div>
                <img src="image (1).jpg" alt="">
            </div>
            <div class="year">2024-2025 <br> SY</div>
        </div>
        <div class="personalInfo">
            <div>
                <label for="name">Name:</label>
                <input type="text" name="Name" placeholder="________________________">
            </div>
            <div>
                <label for="class">Class:</label>
                <input class="class" type="text" name="class" placeholder="______________________________">
                <label for="div">Div:</label>
                <input class="div" type="text" name="div" placeholder="_______________">
            </div>
            <div>
                <label for="dob">Date of Birth:</label>
                <input width="100px" type="text" name="dob" placeholder="__________________________">
            </div>
            <div>
                <label for="rollNo">Roll No:</label>
                <input type="text" name="rollNo" placeholder="___________">
            </div>
        </div>
        <div class="principalSign">
            Principal's Sign
        </div>
    </div>
</div>
}