/* Mobile-Specific Adjustments */
@media (max-width: 768px) {
    h1 {
        font-size: 1.5rem;
    }

    .card-body h4 {
        font-size: 1.2rem;
    }

    .form-label {
        font-size: 0.9rem;
    }

    .form-control {
        font-size: 0.9rem;
        padding: 0.75rem;
    }

    .btn {
        width: 100%;
    }

    .d-flex {
        flex-direction: column;
    }
}

.loader {
    width: 50px;
    padding: 8px;
    aspect-ratio: 1;
    border-radius: 50%;
    background: #25b09b;
    --_m: 
      conic-gradient(#0000 10%,#000),
      linear-gradient(#000 0 0) content-box;
    -webkit-mask: var(--_m);
            mask: var(--_m);
    -webkit-mask-composite: source-out;
            mask-composite: subtract;
    animation: l3 1s infinite linear;
  }
  @keyframes l3 {to{transform: rotate(1turn)}}